@model Dictionary<int, WebApplication1.Models.Dream>

<script src="~/Scripts/app.js"></script>

@foreach (var item in Model)
{

	<div class="mdb category_icon" style="background:url(/Content/SVG/@item.Value.DreamAndCategories.First().Category.Icon) white;">

		<div class="activeMDB">
			@{
				var title = @item.Value.Title.ToString();
				var description = @item.Value.Description.ToString();
			}


			@if (title.Length > 6)
			{
				title = title.Substring(0, 6);

				if (title.Substring(0, 6).Contains(" "))
				{
					title = title.Substring(0, title.LastIndexOf(' '));
				}

				title += "...";
			}


			@if (description.Length > 50)
			{
				description = description.Substring(0, 50);

				if (description.Substring(0, 50).Contains(" "))
				{
					description = description.Substring(0, description.LastIndexOf(' '));
				}

				description += "...";
			}




			<h1>@title</h1>
			<p>
				@Html.Raw(@description)
			</p>

		</div>

		<div class="hiddenMDB ">
			<a href="/User/Details/@item.Value.ID"> <span class="example-one" data-text="MORE DETAILS +">MORE DETAILS +</span></a>
		</div>

	</div>



				}





