
@{
	ViewBag.Title = "Forgot";
}

<div class="registration">
	<a href="/Home/Index" style="cursor:pointer;">
		<button class="grad-border close-btn">
			CLOSE
			<div class="close-btn-snt"></div>
		</button>
	</a>
	<div class="form">
		<h1>Password Recovery</h1>
		<input type="text" id="ForgotEmail" name="Email" placeholder="Email">
		<p class="errormessage" id="ForgotMess"></p>
		<button type="submit" id="sendmail" class="log-in">Send</button><br>
	</div>

</div>


<script src="~/Scripts/account.js"></script>